@model imperiumCar2.Models.Contracts

@{
    ViewData["Title"] = "@Model.Document";
}

<div class="row text">
    <div class="col-md-8 offset-2">
        <p><h1>Details for @Model.SaleValue</h1></p>
        <div class="row">
            <div class="col-md-8 offset-2">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="SaleValue" class="control-label"></label>
                        <input asp-for="SaleValue" class="form-control" type="value"/>
                        <span asp-validation-for="SaleValue" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Description" class="control-label"></label>
                        <input asp-for="Description" class="form-control" />
                        <span asp-validation-for="Description" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="IdPersons" class="control-label"></label>
                        <select asp-for="IdPersons" class="form-control" asp-items="ViewBag.Persons" ></select>
                        <span asp-validation-for="IdPersons" class="text-danger"></span>
                    </div>
                     <div class="form-group">
                        <label asp-for="IdVehicle" class="control-label"></label>
                        <select asp-for="IdVehicle" class="form-control" asp-items="ViewBag.Vehicles" ></select>
                        <span asp-validation-for="IdVehicle" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <a class="btn btn-outline-success float-end" asp-action="Edit" asp-route-id="@Model.Id">Edit</a>
                        <a class="btn btn-outline-secondary" asp-action="Index">Show all</a>
                    </div>
            </div>
        </div>
    </div>
</div>

@section Scripts
    {
    <script>
        $(document).ready(function () {
            var output = document.getElementById('ProfilePicturePreview');
            output.src = $("#Imagen").val();
        })
    </script>
}
